{# empty Twig template #}
{% form_theme form '::form-theme.html.twig' %}

<div id="teamFormContainer">
    <div id="formContent">
    <form action="{{ path('ctf_team_select_action') }}" method="post" {{ form_enctype(form) }} id="select_team">
        <fieldset>
            <legend>Team</legend>
            {{ form_errors(form) }}
            
            <div class="control-group">
                <div class="controls">
                    {{ form_label(form.is_selecting) }}
                    {{ form_errors(form.is_selecting) }}
                    {{ form_widget(form.is_selecting) }}
                </div>
            </div>
            
            {% if selectmap is defined %}
                {% if 'selectmap' == selectmap %}
                <hr />
                <div class="row-fluid">
                    <div class="span6">
                        <div id="tags" class="control-group">
                            {{ form_label(form.team) }}
                            <div class="controls">
                                {{ form_errors(form.team) }}
                                {{ form_widget(form.team) }}
                            </div>
                        </div>
                    </div>
                    <div class="span6">
                        <div class="control-group">
                            <label for="filterT"><strong>Filter Teams</strong></label>
                            <div class="controls">
                                <input type="text" id="filterT" name="regexp" placeholder="Type to filter" />
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
            {% if form.message is defined %}
            <div class="control-group">
                {{ form_label(form.message) }}
                    <span class="help-block">Use this as a way for you to &quot;talk&quot; to the team-admin. Remember - there are <em>lots</em> of people sending requests.</span>
                <div class="controls">
                    {{ form_errors(form.message) }}
                    {{ form_widget(form.message) }}
                </div>
            </div>
            {% endif %}
            
            {% if selectmap is defined %}
                {% if 'selectmap' != selectmap %}
                    <hr />
                    <div class="row-fluid">
                        <div class="span5">
                            <div class="control-group">
                                {{ form_label(form.team.name) }}
                                <div class="controls">
                                    {{ form_errors(form.team.name) }}
                                    {{ form_widget(form.team.name) }}
                                </div>
                            </div>
                            <div class="control-group">
                                {{ form_label(form.team.status) }}
                                <div class="controls">
                                    {{ form_errors(form.team.status) }}
                                    {{ form_widget(form.team.status) }}
                                </div>
                            </div>
                        </div>
                        <div class="span7">
                            {{ form_rest(form) }}
                            <h5>Choose Avatar</h5>
                            {% include "CTFTeamBundle:Team:team-display-select.html.twig" %}
                        </div>
                    </div>
                    <div class="form-row">
                        <button class="btn btn-primary" id="create-clicked">Create</button>
                    </div>
                {% else %}
                    {{ form_rest(form) }}
                    <div class="form-row">
                        <button class="btn">Select</button>
                    </div>
                {% endif %}
            {% else %}
                {{ form_rest(form) }}
            {% endif %}
        </fieldset>
    </form>
    </div>
</div>

{% if selectmap is defined %}
    {% if 'selectmap' == selectmap %}
<script type="text/javascript">
//<!--
var teamSelectFilter, filterT;

function addFilter() {
    teamSelectFilter = new filterList(
        document.getElementById('ctf_teambundle_teamselecttype_team')
    );
    filterT = document.getElementById('filterT');

    filterT.addEventListener('keyup', function() {
        teamSelectFilter.set(this.value);
        $('#teamCanvas').empty();
        $('#teamCanvas').tagcanvas({
            textColour : '#fff',
            textFont: '"Helvetica Neue",Helvetica,Arial,sans-serif',
            textHeight: 18,
            outlineThickness : 1,
            maxSpeed : 0.03,
            depth : 0.75,
            outlineColour: '#e74c3c',
            outlineMethod: 'block',
            outlineOffset: 10
          }, 'tags', 'ctf_teambundle_teamselecttype_team');
    });
}
//-->
</script>
    {% endif %}
{% endif %}