{% set active = 'teamselect' %}
{% extends "::base.html.twig" %}

{% block title %}
{{ app.user.username }} &raquo; Team Selection &middot; ehack CTF
{% endblock %}

{% block extracss %}
{% stylesheets
    'bundles/ctfteam/css/select-team.css'
    filter='cssrewrite, yui_css'
    output='selectteam.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
{% endstylesheets %}
{% endblock %}

{% block content %}
<audio height="0" width="0" id="dingdong">
    <source src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}" type="audio/wav">
    <embed height="0" width="0" src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}">
</audio>
    <div class="clearfix">&nbsp;</div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success clearfix">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="alert alert-success clearfix">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="alert alert-success clearfix">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="row-fluid">
            <div id="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">New Request</a></li>
                    <li><a href="#tab2" data-toggle="tab">Your Requests</a></li>
                </ul>
                <div class="tab-content">
                    <div id="tab1" class="tab-pane active">
                            <div class="span5">
                                <div id="teamcloud">
                                    <canvas width="500" height="300" id="teamCanvas">

                                    </canvas>
                                </div>
                                <div id="filter-teams">
                                </div>
                            </div>
                            <div class="span7">
                                {% include "CTFTeamBundle:Team:select-team.form.html.twig" with { 'form': form } only %}
                            </div>
                    </div>
                    <div id="tab2" class="tab-pane">
                        <div class="span12">
                            <p>
                                Below, you will find requests you have made previously (if any) to join
                                a team, along with their response (if the team's ADMINs have changed it)
                            </p>
                            <hr />
                            {% include "CTFTeamBundle:Team:team-requests.html.twig" with { 'requests': requests } only %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

{% block extrajsend %}
<!--[if lt IE 9]><script type="text/javascript" src="{{ asset('bundles/ctfteam/js/excanvas.js') }}"></script><![endif]-->
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% javascripts
    '@CTFTeamBundle/Resources/public/js/jquery.tagcanvas.select.min.js'
    '@CTFTeamBundle/Resources/public/js/search-select.js'
    '@CTFTeamBundle/Resources/public/js/teamnotify.js'
    '@CTFTeamBundle/Resources/public/js/select-team.js'
    filter='yui_js'
    output='selectteam.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}