{# Team Display-Pic Select Twig template #}

<div id="team-display-select">
    <img src="{{ asset('bundles/ctfteam/images/1.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/2.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/3.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/4.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/5.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/6.jpg') }}" width="50" class="picture-window img-polaroid">
    <br />
    <img src="{{ asset('bundles/ctfteam/images/7.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/8.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/9.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/10.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/11.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/12.jpg') }}" width="50" class="picture-window img-polaroid">
    <br />
    <img src="{{ asset('bundles/ctfteam/images/13.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/14.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/15.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/16.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/17.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/18.jpg') }}" width="50" class="picture-window img-polaroid">
    <br />
    <img src="{{ asset('bundles/ctfteam/images/19.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/20.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/21.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/22.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/23.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/24.jpg') }}" width="50" class="picture-window img-polaroid">
    <br />
    <img src="{{ asset('bundles/ctfteam/images/25.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/26.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/27.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/28.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/29.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/30.jpg') }}" width="50" class="picture-window img-polaroid">
    <br />
    <img src="{{ asset('bundles/ctfteam/images/31.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/32.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/33.jpg') }}" width="50" class="picture-window img-polaroid">
    <img src="{{ asset('bundles/ctfteam/images/34.jpg') }}" width="50" class="picture-window img-polaroid">
</div>
