{% extends '::base.html.twig' %}

{% block title %}Login or Register &middot; ehack CTF{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ asset('bundles/ctflogin/css/style.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
    {% block fos_user_content %}{% endblock %}

<div id="overlay">

</div>
<div class="modal" id="loginModal">
    <div class="modal-header">
        <button type="button" class="close" onclick="javascript:closeLoginModal();" aria-hidden="true">&times;</button>
        <h3>Login or Register</h3>
    </div>
    <div class="modal-body">
        <div class="row-fluid">
            <div class="span6 right-separator">
                {% if error %}
                    <div>{{ error|trans }}</div>
                {% endif %}
                <form class="login-form" action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                    <div class="form_row login-form-section">
                        <div>
                            <label for="inputEmail">Email</label>
                            <input type="email" name="_username" id="inputEmail" placeholder="xyz@isp.com" required="required">
                        </div>
                    </div>
                    <div class="form_row login-form-section">
                        <div>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="_password" id="inputPassword" placeholder="Password" required="required">
                        </div>
                    </div>
                    <div class="form_row space10">
                        <label class="checkbox" for="rememberRemember">
                            <input type="checkbox" id="rememberRemember" name="_remember_me"> Remember Me
                        </label>
                    </div>
                    <input type="hidden" name="_target_path" value="/quest" />
                    <div class="form_row space10">
                        <div class="right">
                            <button class="btn" name="_submit">Take Me &raquo;</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="span6">
                <h4>Not Registered?</h4>
                <p>Don&apos;t worry! Register for the event with facebook, google or twitter! Just sign-in!</p>
                <hr />
                <div class="social-login centered">
                    <div>
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" target="_self"><img src="{{ asset('bundles/ctfcommon/images/facebook-connect.png') }}" title="facebook-connect" /></a>
                    </div>
                    <div>
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google' }) }}" target="_self"><img src="{{ asset('bundles/ctfcommon/images/google-connect.png') }}" title="google-connect" /></a>
                    </div>
                    <div>
                        <a href="#" target="_self"><img src="{{ asset('bundles/ctfcommon/images/twitter-connect.png') }}" title="twitter-connect" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="javascript:closeLoginModal();" class="btn">Close</a>
        <a href="#" class="btn btn-primary">What&apos;s all this about?</a>
    </div>
</div>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">infySec&apos;s CTF</a>
            <div class="nav-collapse collapse">
                <p class="navbar-text pull-right">
                    <a href="javascript:openLoginModal();" class="navbar-link">Login</a>
                </p>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row-fluid">

    </div>
</div>
{% endblock %}

{% block extrajsend %}
<script type="text/javascript">
//<!--
function closeLoginModal() {
    $('#loginModal').modal('hide');
    $('#overlay').attr('style', 'display:none;');
}

function openLoginModal() {
    $('#overlay').attr('style', 'display:block;');
    $('#loginModal').modal('show');
}

$(document).ready(function() {
    openLoginModal();
});
//-->
    </script>
{% endblock %}