{# This defines the generic template for the website #}
<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="author" content="thegeekmachine, vstartu" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/ctfcommon/css/normalize.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ asset('bundles/ctfcommon/css/bootstrap.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/ctfcommon/css/bootstrap-responsive.css') }}" type="text/css" media="screen" />
    <link rel="stylesheet" href="{{ asset('bundles/ctfcommon/css/eggplant/jquery-ui-1.10.3.custom.min.css') }}" type="text/css" media="screen" />
    {# <link href="{{ asset('bundles/ctfcommon/css/flat-ui.css') }}" rel="stylesheet" /> #}
    {% block extracss %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="{{ asset('bundles/ctfcommon/js/html5shiv.js') }}"></script>
    <![endif]-->
    {% block extrajs %}{% endblock %}
</head>
<body>
    {% block menu %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="brand" href="#">ehack CTF</a>
                <div class="nav-collapse collapse">
                    <p class="navbar-text pull-right">
                        {% if app.user.username is defined %}
                        Logged in as <a href="#" class="navbar-link">{{ app.user.username }}</a> | <a href="{{ path('logout') }}" class="navbar-link">Logout</a>
                        {% endif %}
                    </p>
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <div class="clearfix">
        &nbsp;
    </div>
    {% endblock %}
    {% block content %}{% endblock %}
    <script type="text/javascript" src="{{ asset('bundles/ctfcommon/js/jquery-1.9.1.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/ctfcommon/js/jquery-ui-1.10.3.custom.min.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/ctfcommon/js/cookiemanager.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/ctfcommon/js/modernizr.js') }}" ></script>
    <script type="text/javascript" src="{{ asset('bundles/ctfcommon/js/bootstrap.js') }}" ></script>
    {#
    <script src="{{ asset('bundles/ctfcommon/js/jquery.dropkick-1.0.0.js') }}"></script>
    <script src="{{ asset('bundles/ctfcommon/js/custom_checkbox_and_radio.js') }}"></script>
    <script src="{{ asset('bundles/ctfcommon/js/custom_radio.js') }}"></script>
    <script src="{{ asset('bundles/ctfcommon/js/jquery.tagsinput.js') }}"></script>
    <script src="{{ asset('bundles/ctfcommon/js/bootstrap-tooltip.js') }}"></script>
    <script src="{{ asset('bundles/ctfcommon/js/jquery.placeholder.js') }}"></script>
    <script src="http://vjs.zencdn.net/c/video.js"></script>
    <script src="{{ asset('bundles/ctfcommon/js/application.js') }}"></script>
    #}
    <!--[if lt IE 8]>
      <script src="{{ asset('bundles/ctfcommon/js/icon-font-ie7.js') }}"></script>
      <script src="{{ asset('bundles/ctfcommon/js/icon-font-ie7-24.js') }}"></script>
    <![endif]-->
    {% block extrajsend %}{% endblock %}
</body>
</html>
