{# represents the MENU-items #}
{% block menuitems %}
{% if app.user.username is defined %}
{% if not is_granted('ROLE_ADMIN') %}
{% set hasrole = app.user.hasRole('ROLE_TEAM_ADMIN') %}
{% else %}
{% set hasrole = 0 %}
{% endif %}
{% else %}
{% set hasrole = 0 %}
{% endif %}
<ul class="nav">
    {% if admin_menuitems is not defined and app.user %}
    <li {% if active == 'quest' %}class="active"{% endif %}><a href="{{ path('ctf_quest_homepage') }}"><i class="icon-eye-open icon-white"></i>&nbsp;Quest</a></li>
    <li {% if active == 'gchat' %}class="active"{% endif %}><a href="{{ path('ctf_global_chat') }}"><i class="icon-comment icon-white"></i>&nbsp;Global Chat</a></li>
    <li {% if active == 'stats' %}class="active"{% endif %}><a href="{{ path('ctf_user_statistics') }}"><i class="icon-globe icon-white"></i>&nbsp;Statistics</a></li>
    {% if is_granted('ROLE_TEAM_ADMIN') or hasrole == 1 %}
    <li class="divider-vertical"></li>
    <li {% if active == 'teamadmin' %}class="active"{% endif %}><a href="{{ path('ctf_team_admin') }}"><i class="icon-edit icon-white"></i>&nbsp;Team Admin Panel <div id="team-alert" class="badge badge-warning hidden"></div></a></li>
    {% else %}
    <li {% if active == 'teamselect' %}class="active"{% endif %}><a href="{{ path('ctf_team_select') }}"><i class="icon-edit icon-white"></i>&nbsp;Team Selection <div id="team-alert" class="badge badge-warning hidden"></div></a></li>
    {% endif %}
    <li class="divider-vertical"></li>
    <li {% if active == 'about' %}class="active"{% endif %}><a href="{{ path('about') }}">About</a></li>
    {% elseif admin_menuitems is defined and app.user %}
    <li {% if active == 'home' %}class="active"{% endif %}><a href="{{ path('ctf_admin_homepage') }}"><i class="icon-home icon-white"></i>&nbsp;Dashboard</a></li>
    <li {% if active == 'settings' %}class="active"{% endif %}><a href="{{ path('ctf_admin_settings') }}"><i class="icon-cog icon-white"></i>&nbsp;Settings</a></li>
    <li {% if active == 'announce' %}class="active"{% endif %}><a href="{{ path('ctf_admin_announce') }}"><i class="icon-bullhorn icon-white"></i>&nbsp;Announce</a></li>
    <li {% if active == 'gchat' %}class="active"{% endif %}><a href="{{ path('ctf_admin_chat') }}"><i class="icon-comment icon-white"></i>&nbsp;Global Chat</a></li>
    <li {% if active == 'stages' %}class="active"{% endif %}><a href="{{ path('ctf_admin_stage') }}"><i class="icon-tasks icon-white"></i>&nbsp;Stages</a></li>
    {% else %}
    <li {% if active == 'home' %}class="active"{% endif %}><a href="{{ path('ctf_statistics_homepage') }}"><i class="icon-home icon-white"></i>&nbsp;Home</a></li>
    {% endif %}
</ul>
{% endblock %}