{% set active = 'gchat' %}
{% if is_granted('ROLE_ADMIN') %}
{% set admin_menuitems = 'true' %}
{% endif %}
{% extends '::base.html.twig' %}

{% block title %}
Global Chat &middot; CTF
{% endblock %}

{% block extracss %}
<link href="{{ asset('bundles/ctfglobalchat/css/style.css') }}" rel="stylesheet" media="screen" />
{% endblock %}

{% block content %}
<audio height="0" width="0" id="popcorn">
    <source src="{{ asset('bundles/ctfglobalchat/sounds/pop2.wav') }}" type="audio/wav">
    <embed height="0" width="0" src="{{ asset('bundles/ctfglobalchat/sounds/pop2.wav') }}">
</audio>
<audio height="0" width="0" id="dingdong">
    <source src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}" type="audio/wav">
    <embed height="0" width="0" src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}">
</audio>
<div class="clearfix">
    &nbsp;
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div id="clientList" class="well"></div>
        </div>
        <div class="span10">
            <div id="chat" class="well"></div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span2">
            <div id="status" class="label label-info">Not Connected!</div>
        </div>
        <div class="span10">
            <div class="row-fluid">
                <div class="span11">
                    <textarea id="chat-bar" disabled="disabled" rows="2"></textarea>
                </div>
                <div class="span1">
                    <button class="btn btn-primary" id="chat-send">Send</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajsend %}
<script type="text/javascript" src="http://dos.ehack.in:5560/socket.io/socket.io.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% javascripts
    '@CTFGlobalChatBundle/Resources/public/js/client.js'
    '@CTFTeamBundle/Resources/public/js/teamnotify.js'
    filter='yui_js'
    output='globalchat.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
//<!--
$(document).ready(function() {
    GlobalChatClient.init({
        host: 'dos.ehack.in',
        port: 5560,
        username: '{{ app.user.username }}'
    });
    
    GlobalChatClient.run();
    
    $(window).bind('beforeunload', function() {
        GlobalChatClient.disconnect();
    });

{% if is_granted('ROLE_TEAM_ADMIN') or app.user.hasRole('ROLE_TEAM_ADMIN') %}
    TeamNotify.init({
        pollUrl: Routing.generate('ctf_team_admin_alert_poll', null)
    });
{% else %}
    TeamNotify.init({
        pollUrl: Routing.generate('ctf_team_member_alert_poll', null)
    });
{% endif %}
});
//-->
</script>
{% endblock %}