{% set active = 'quest' %}
{% extends '::base.html.twig' %}

{% block title %}
Dashboard &middot; CTF
{% endblock %}

{% block extracss %}
{% stylesheets
    'bundles/ctfquest/css/team-chat.css'
    'bundles/ctfquest/css/dash.css'
    'bundles/ctfquest/css/stages.css'
    filter='cssrewrite, yui_css'
    output='quest-dash.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
{% endstylesheets %}
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<audio height="0" width="0" id="popcorn">
    <source src="{{ asset('bundles/ctfglobalchat/sounds/pop2.wav') }}" type="audio/wav">
    <embed height="0" width="0" src="{{ asset('bundles/ctfglobalchat/sounds/pop2.wav') }}">
</audio>
<audio height="0" width="0" id="dingdong">
    <source src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}" type="audio/wav">
    <embed height="0" width="0" src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}">
</audio>
<div id="loader" class="hidden"><img src="{{ asset('bundles/ctfcommon/images/loader.gif') }}" title="Loading..." /></div>
<div class="container-fluid clearfix">
    <div class="row-fluid">
        <div class="span12"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div id="toggle-chat">
                <button class="btn btn-link" id="toggle-chat-btn">
                    <img src="{{ asset('bundles/ctfquest/images/walkie-typie-icon.png') }}" title="Your Walkie-Typie!"><br />
                    My Walkie-Typie
                </button>
            </div>
            {% include "CTFQuestBundle:Quest:teamchat.html.twig" %}
        </div>
        <div class="span2">
            <img src="{{ user.getImageUrl() }}" width="80" class="img-circle" />
        </div>
        <div class="span4">
            
        </div>
        <div class="span2">
            <div id="user-rank">
                <h4>Rank</h4>
                <div id="rank-display">
                    0
                </div>
            </div>
        </div>
        <div class="span2">
            <ul class="nav nav-list padded">
                <li>
                    <b>Stage <span id="stage-display">-</span><br />Level <span id="level-display">-</span></b>
                </li>
                <li class="divider"></li>
                <li>
                    <strong>Score:</strong> <span id="score-display" class="badge badge-warning"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="audience">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        {#<div class="span3 shaded">
            <hr />
            {% include "CTFQuestBundle:Quest:teamview.html.twig" with { 'team': team } only %}
        </div>#}
        <div class="span3">
            <div class="well well-small">
                <button class="btn btn-primary btn-large quest-button" id="continue-quest-button">Quest</button>
                <hr />
                {% include "CTFQuestBundle:Quest:stages-display.html.twig" with { 'stages': stages } %}
            </div>
        </div>
        <div class="span7">
            <h2 id="title-display">Level</h2>
            <hr />
            <div id="question-container">
                <div id="question-result">
                </div>
                <div id="question-dyn">

                </div>
            </div>
        </div>
        <div class="span2">
            <h4>Share &amp; Follow Us</h4>
            <p>
                Wanna gain bonus points? Bring in more people by sharing the following refrerral link on social media and get "X" points ;) for every new participant you help bring in!
                The more you spread the word, the higher you climb the hack-minar!
            </p>
            {% include "CTFQuestBundle:Quest:social-likes.html.twig" %}
            <hr />
            {% include "CTFQuestBundle:Quest:social-share.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extrajsend %}
<script type="text/javascript" src="http://{{ app.request.getHttpHost() }}:5561/socket.io/socket.io.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% javascripts
    '@CTFTeamBundle/Resources/public/js/teamchatclient.js'
    '@CTFTeamBundle/Resources/public/js/teamnotify.js'
    '@CTFAnnouncerBundle/Resources/public/js/announcer.js'
    '@CTFQuestBundle/Resources/public/js/raphael.min.js'
    '@CTFQuestBundle/Resources/public/js/dash-static.js'
    filter='yui_js'
    output='quest-dash.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript">
//<!--
function checkLogin() {
    $.get(Routing.generate('ctf_login_check', null), null, function(data) {
        if ('false' == data) {
            window.location = '{{ path('login') }}';
        }
    });
}

function continueBoot() {
    $.ajaxSetup({ cache: true });
    //renderTeamView();
    if (typeof io != undefined) {
        TeamChatClient.init({
            host: '{{ app.request.getHttpHost() }}',
            port: 5561,
            username: '{{ app.user.username }}',
            team: '{{ teamname }}'
        });

        TeamChatClient.run();

        $(window).bind('beforeunload', function() {
            TeamChatClient.disconnect();
        });
        
        Announcer.init({
            host: '{{ app.request.getHttpHost() }}',
            port: 5656
        });
        
        Announcer.tuneIn();
    }

{% if is_granted('ROLE_TEAM_ADMIN') or app.user.hasRole('ROLE_TEAM_ADMIN') %}
    TeamNotify.init({
        pollUrl: Routing.generate('ctf_team_admin_alert_poll', null)
    });
{% else %}
    TeamNotify.init({
        pollUrl: Routing.generate('ctf_team_member_alert_poll', null)
    });
{% endif %}
    
    $.getScript('//connect.facebook.net/en_UK/all.js', function() {
        window.fbAsyncInit = function() {
            FB.init({
              appId: '{{ facebook_id }}',
              channelUrl: '//' + Routing.generate('ctf_fb_channel', null),
              status     : true,
              xfbml      : true
            });
        };
    });
};
//-->
</script>
{% endblock %}