{% set active = 'quest' %}
{% extends '::base.html.twig' %}

{% block title %}
Dashboard &middot; CTF
{% endblock %}

{% block extracss %}
<link rel="stylesheet" href="{{ asset('bundles/ctfquest/css/dash.css') }}" type="text/css" media="screen" />
{% endblock %}

{% block content %}
<audio height="0" width="0" id="popcorn">
    <source src="{{ asset('bundles/ctfglobalchat/sounds/pop2.wav') }}" type="audio/wav">
    <embed height="0" width="0" src="{{ asset('bundles/ctfglobalchat/sounds/pop2.wav') }}">
</audio>
<div class="clearfix">
    &nbsp;
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3 shaded">
            <img src="{{ user.getImageUrl() }}" width="80" class="img-polaroid" />
            <hr />
            <ul class="nav nav-list">
                <li class="nav-header">Basic Information</li>
                <li><a href="#"><span class="label label-inverse">Gender</span> {{ user.getGender() | lower }}</a></li>
                <li><a href="#"><span class="label label-inverse">Birthday</span> {{ user.getDob() | date('F jS, Y') }}</a></li>
                <li><a href="#"><span class="label label-inverse">About Me</span> {{ user.getAboutMe() }}</a></li>
                <li class="nav-header">Contact Information</li>
                <li><a href="#"><span class="label label-inverse">Mobile</span> {{ user.getPhone() }}</a></li>
                <li><a href="#"><span class="label label-inverse">From</span> {{ user.getCity() }}, {{ user.getState().getName() }}, {{ user.getCountry().getName() }}</a></li>
                <li><a href="#"><span class="label label-inverse">Website</span> {{ user.getWebsite() }}</a></li>
            </ul>
        </div>
        <div class="span7">
            <div class="row-fluid">
                <div class="span8">
                    <h2 id="title-display">Level</h2>
                </div>
                <div class="span2">
                    <div id="user-rank">
                        <h4>Rank</h4>
                        <div id="rank-display">
                            
                        </div>
                    </div>
                </div>
                <div class="span2">
                    <ul class="nav nav-list">
                        <li>
                            <b>Stage <span id="stage-display">-</span><br />Level <span id="level-display">-</span></b>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <strong>Score:</strong> <span id="score-display" class="badge badge-warning"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <hr />
            <div class="row-fluid">
                <div class="span3 well well-small" id="qbox">
                    <ul class="nav nav-list">
                        <li><a href="#" class="btn btn-primary quest-button" id="continue-quest-button">Quest</a></li>
                        <li class="divider"></li>
                        {% for it in stages %}
                        <li class="nav-header">{{ it.getName() }}</li>
                        {% for item in it.getQuestions() %}
                        <li><a href="{{ path('ctf_quest_fetch', { qid: item.getId() }) }}" class="list-item fetch-item"><span class="badge badge-inverse">{{ item.getLevel() }}</span> {{ item.getTitle() }}</a></li>
                        {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="span9">
                    <div id="question-container">
                        <div id="question-result">
                        </div>
                        <div id="question-dyn">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span2">
            {% include "CTFQuestBundle:Quest:teamchat.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extrajsend %}
<script type="text/javascript" src="http://{{ app.request.getHttpHost() }}:5561/socket.io/socket.io.js"></script>
<script src="{{ asset('bundles/ctfteam/js/teamchatclient.js') }}" type="text/javascript"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript">
//<!--
function updateCurrentStats() {
    $.get(Routing.generate('ctf_quest_current', null), null, function(data) {
        var res = JSON.parse(data);

        $('#stage-display').text(res.stage).fadeIn();
        $('#level-display').text(res.level).fadeIn();
        $('#title-display').text(res.title).fadeIn();
        $('#score-display').text(res.score).fadeIn();
    });
}
var cli_on = false;
$(document).ready(function() {
    if (typeof io != undefined) {
        TeamChatClient.init({
            host: '{{ app.request.getHttpHost() }}',
            port: 5561,
            username: '{{ app.user.username }}',
            team: '{{ team }}'
        });

        TeamChatClient.run();

        $(window).bind('beforeunload', function() {
            TeamChatClient.disconnect();
        });
    }
    
    $('#client-list-button').click(function(e) {
        e.preventDefault();
        
        if (false == cli_on) {
            $('#client-list-button').attr('data-title', 'Member List');
            $('#client-list-button').attr('data-html', 'true');
            $('#client-list-button').attr('data-placement', 'left');
            $('#client-list-button').attr('data-content', $('#clientList').html());
            $('#client-list-button').popover('show');
            cli_on = true;
        } else {
            $('#client-list-button').popover('destroy');
            cli_on = false;
        }
    });

    $('#continue-quest-button').click(function(e) {
       e.preventDefault();
       
       $.get(Routing.generate('ctf_quest_continue', null), null, function(data) {
           $('#question-dyn').html(data).show().fadeIn();
           updateCurrentStats();
       });
    });
    
    $('#question-container').on('click', '#clue-button', function(e) {
        e.preventDefault();
        
        $.get($(this).attr('data-link'), null, function(data) {
            $('#clue-button').popover({
                title: 'Your Hint',
                content: data,
                html: true
            });
            $('#clue-button').popover('show');
        });
    });
    
    $('#question-container').on('submit', '#answer-form', function(e) {
        e.preventDefault();
        
        $.post($('#answer-form').attr('action'), $('#answer-form').serialize(), function(data) {
            var response = JSON.parse(data);
            
            if ('success' == response.result) {
                $('#question-result').html('<div class="alert alert-success">' + response.message + '</div>').show().fadeIn(1200).fadeOut(5000);
                
                $.get(Routing.generate('ctf_quest_fetch', { qid: response.next }), null, function(data) {
                    var rp = JSON.parse(data);
            
                    $('#question-dyn').html(rp.message).show().fadeIn();

                    if ('success' == rp.result) {
                        updateCurrentStats();
                    }
                });
            } else {
                $('#question-result').html('<div class="alert alert-error">' + response.message + '</div>').show().fadeIn(1200).fadeOut(5000);
            }
        });
    });
    
    $('.fetch-item').click(function(e) {
        e.preventDefault();
        
        $.get(this, null, function(data) {
            var rp = JSON.parse(data);
            
            $('#question-dyn').html(rp.message).show().fadeIn();
            
            if ('success' == rp.result) {
                updateCurrentStats();
            }
        });
    });
    
    $.get(Routing.generate('ctf_quest_rank', null), null, function(data) {
        var response = JSON.parse(data);
        if (null != response.rank) {
            $('#rank-display').text(response.rank).fadeOut().fadeIn('slow');
        }
    });
    setInterval(function() {
        $.get(Routing.generate('ctf_quest_rank', null), null, function(data) {
            var response = JSON.parse(data);
            if (null != response.rank) {
                $('#rank-display').text(response.rank).fadeOut().fadeIn('slow');
            }
        });
    }, 20000);
});
//-->
</script>
{% endblock %}