{% set active = 'quest' %}
{% extends '::base.html.twig' %}

{% block title %}
Dashboard &middot; CTF
{% endblock %}

{% block extracss %}
{% stylesheets
    'bundles/ctfquest/css/dash.css'
    filter='cssrewrite, yui_css'
    output='quest-dash.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
{% endstylesheets %}
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<audio height="0" width="0" id="popcorn">
    <source src="{{ asset('bundles/ctfglobalchat/sounds/pop2.wav') }}" type="audio/wav">
    <embed height="0" width="0" src="{{ asset('bundles/ctfglobalchat/sounds/pop2.wav') }}">
</audio>
<audio height="0" width="0" id="dingdong">
    <source src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}" type="audio/wav">
    <embed height="0" width="0" src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}">
</audio>
<div id="loader" class="hidden"><img src="{{ asset('bundles/ctfcommon/images/loader.gif') }}" title="Loading..." /></div>
<div class="container-fluid clearfix">
    <div class="row-fluid">
        <div class="span12"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <div id="toggle-chat">
                <button class="btn btn-link" id="toggle-chat-btn">
                    <img src="{{ asset('bundles/ctfquest/images/walkie-typie-icon.png') }}" title="Your Walkie-Typie!"><br />
                    My Walkie-Typie
                </button>
            </div>
            {% include "CTFQuestBundle:Quest:teamchat.html.twig" %}
        </div>
        <div class="span2">
            <img src="{{ user.getImageUrl() }}" width="80" class="img-circle" />
        </div>
        <div class="span4">
            
        </div>
        <div class="span2">
            <div id="user-rank">
                <h4>Rank</h4>
                <div id="rank-display">
                    0
                </div>
            </div>
        </div>
        <div class="span2">
            <ul class="nav nav-list padded">
                <li>
                    <b>Stage <span id="stage-display">-</span><br />Level <span id="level-display">-</span></b>
                </li>
                <li class="divider"></li>
                <li>
                    <strong>Score:</strong> <span id="score-display" class="badge badge-warning"></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="audience">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        {#<div class="span3 shaded">
            <hr />
            {% include "CTFQuestBundle:Quest:teamview.html.twig" with { 'team': team } only %}
        </div>#}
        <div class="span3">
            <div class="well well-small">
                <ul class="nav nav-list dash-info-panel">
                    <li><a href="#" class="btn btn-success quest-button" id="continue-quest-button">Quest</a></li>
                    <li class="divider"></li>
                    {% for it in stages %}
                    <li class="nav-header">{{ it.getName() }}</li>
                    {% for item in it.getQuestions() %}
                    <li><a href="{{ path('ctf_quest_fetch', { qid: item.getId() }) }}" class="list-item fetch-item"><span class="badge badge-inverse">{{ item.getLevel() }}</span> {{ item.getTitle() }}</a></li>
                    {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="span7">
            <h2 id="title-display">Level</h2>
            <hr />
            <div id="question-container">
                <div id="question-result">
                </div>
                <div id="question-dyn">

                </div>
            </div>
        </div>
        <div class="span2">
            <h4>Share &amp; Follow Us</h4>
            <p>
                Don&apos;t forget to share, like and follow us on social media! By sharing and liking our posts and
                page, more people will hear about the event and contend, intensifying the competition.
            </p>
            {% include "CTFQuestBundle:Quest:social-likes.html.twig" %}
            <hr />
            {% include "CTFQuestBundle:Quest:social-share.html.twig" %}
        </div>
    </div>
</div>
{% endblock %}

{% block extrajsend %}
<script type="text/javascript" src="http://{{ app.request.getHttpHost() }}:5561/socket.io/socket.io.js"></script>
{% javascripts
    '@CTFTeamBundle/Resources/public/js/teamchatclient.js'
    '@CTFAnnouncerBundle/Resources/public/js/announcer.js'
    '@CTFQuestBundle/Resources/public/js/raphael.min.js'
    filter='yui_js'
    output='quest-dash.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript">
//<!--
function updateCurrentStats() {
    $.get(Routing.generate('ctf_quest_current', null), null, function(data) {
        var res = JSON.parse(data);

        $('#stage-display').text(res.stage).fadeIn();
        $('#level-display').text(res.level).fadeIn();
        $('#title-display').text(res.title).fadeIn();
        $('#score-display').text(res.score).fadeIn();
    });
}

function checkLogin() {
    $.get(Routing.generate('ctf_login_check', null), null, function(data) {
        if ('false' == data) {
            window.location = '{{ path('login') }}';
        }
    });
}

var cli_on = false, clu_on = false;
$(document).ready(function() {
    $.ajaxSetup({ cache: true });
    //renderTeamView();
    if (typeof io != undefined) {
        TeamChatClient.init({
            host: '{{ app.request.getHttpHost() }}',
            port: 5561,
            username: '{{ app.user.username }}',
            team: '{{ teamname }}'
        });

        TeamChatClient.run();

        $(window).bind('beforeunload', function() {
            TeamChatClient.disconnect();
        });
        
        Announcer.init({
            host: '{{ app.request.getHttpHost() }}',
            port: 5656
        });
        
        Announcer.tuneIn();
    }
    
    $('#toggle-chat-btn').click(function() {
        var btn = $(this);
        
        if ('true' != $('#chat-client').attr('data-shown')) {
            $('#chat-client').css({
                position: 'absolute',
                top: btn.offset().top + btn.outerHeight() + 10,
                left: btn.offset().left
            }).attr('data-shown', 'true').show();
        } else {
            $('#chat-client').attr('style', '').attr('data-shown', 'false').fadeOut();
        }
    });
    
    $('#client-list-button').click(function(e) {
        e.preventDefault();
        
        if (false == cli_on) {
            $('#client-list-button').attr('data-title', 'Member List');
            $('#client-list-button').attr('data-html', 'true');
            $('#client-list-button').attr('data-placement', 'left');
            $('#client-list-button').attr('data-content', $('#clientList').html());
            $('#client-list-button').popover('show');
            cli_on = true;
        } else {
            $('#client-list-button').popover('destroy');
            cli_on = false;
        }
    });

    $('#continue-quest-button').click(function(e) {
       e.preventDefault();
       
       $.get(Routing.generate('ctf_quest_continue', null), null, function(data) {
           $('#question-dyn').html(data).show().fadeIn();
           updateCurrentStats();
       });
    });
    
    $('#question-container').on('click', '#clue-button', function(e) {
        e.preventDefault();
        
        if ($(this).attr('data-content') == null) {
            document.getElementById('clue-button-loader').innerHTML = document.getElementById('loader').innerHTML;
            $.get($(this).attr('data-link'), null, function(data) {
                $('#clue-button').attr('data-content', data);
                $('#clue-button').popover({
                    title: 'Your Hint',
                    content: data,
                    html: true,
                    placement: 'right',
                    delay: 50
                });
                $('#clue-button').popover('show');
                clu_on = true;
                document.getElementById('clue-button-loader').innerHTML = null;
            });
        } else {
            if (false == clu_on) {
                $('#clue-button').popover('show');
                clu_on = true;
            } else {
                $('#clue-button').popover('close');
                clu_on = false;
            }
        }
    });
    
    $('#question-container').on('submit', '#answer-form', function(e) {
        e.preventDefault();
        
        document.getElementById('answer-button-loader').innerHTML = document.getElementById('loader').innerHTML;
        
        $.post($('#answer-form').attr('action'), $('#answer-form').serialize(), function(data) {
            var response = JSON.parse(data);
            
            document.getElementById('answer-button-loader').innerHTML = null;
            
            if ('success' == response.result) {
                $('#question-result').html('<div class="alert alert-success">' + response.message + '</div>').show().fadeIn(1200).fadeOut(5000);
                
                document.getElementById('question-dyn').innerHTML = '<div id="question-dyn-loader">' + document.getElementById('loader').innerHTML + '</div>';
                
                $.get(Routing.generate('ctf_quest_fetch', { qid: response.next }), null, function(data) {
                    var rp = JSON.parse(data);
            
                    $('#question-dyn').html(rp.message).show().fadeIn();

                    if ('success' == rp.result) {
                        updateCurrentStats();
                    }
                });
            } else if ('finish' == response.result) {
                $('#question-result').html('<div class="alert alert-success">' + response.message + '</div>').show().fadeIn(1200).fadeOut(5000);
                
                document.getElementById('question-dyn').innerHTML = '<div id="question-dyn-loader">' + document.getElementById('loader').innerHTML + '</div>';
                
                $.get(Routing.generate('ctf_quest_finish'), null, function(data) {
                    $('#question-dyn').html(data).show().fadeIn();
                    updateCurrentStats();
                });
            } else {
                $('#question-result').html('<div class="alert alert-error">' + response.message + '</div>').show().fadeIn(1200).fadeOut(5000);
            }
        });
    });
    
    $('.fetch-item').click(function(e) {
        e.preventDefault();
        
        document.getElementById('question-dyn').innerHTML = '<div id="question-dyn-loader">' + document.getElementById('loader').innerHTML + '</div>';
        
        $.get(this, null, function(data) {
            var rp = JSON.parse(data);
            
            $('#question-dyn').html(rp.message).show().fadeIn();
            
            if ('success' == rp.result) {
                updateCurrentStats();
            }
        });
    });
    
    $.get(Routing.generate('ctf_quest_rank', null), null, function(data) {
        var response = JSON.parse(data);
        if (null != response.rank && false != response.rank) {
            $('#rank-display').text(response.rank).fadeOut().fadeIn('slow');
        }
    });
    setInterval(function() {
        $.get(Routing.generate('ctf_quest_rank', null), null, function(data) {
            var response = JSON.parse(data);
            if (null != response.rank && false != response.rank) {
                $('#rank-display').text(response.rank).fadeOut().fadeIn('slow');
            }
        });
    }, 20000);
    
    $.getScript('//connect.facebook.net/en_UK/all.js', function() {
        window.fbAsyncInit = function() {
            FB.init({
              appId: '{{ facebook_id }}',
              channelUrl: '//' + Routing.generate('ctf_fb_channel', null),
              status     : true,
              xfbml      : true
            });
        };
    });
});
//-->
</script>
{% endblock %}