{# Present question #}
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#thequestion" data-toggle="tab">The Question</a></li>
        <li><a href="#cluespot" data-toggle="tab">Cluespot</a></li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="thequestion">
            {{ question.getContent() | raw }}
            {% if attachment is not null %}
            <center>
                <a href="{{ path('ctf_quest_visit', { filename: 'index.html' }) }}" class="btn btn-warning" target="_blank">Visit</a>
            </center>
            {% endif %}
            <hr />
            <h4>Your Answer</h4>
            <form action="{{ path('ctf_quest_answer', { id: question.getId() }) }}" method="post" id="answer-form" {{ form_enctype(answer) }}>
                {{ form_widget(answer) }}
                <button class="btn btn-success" id="answer-button">Answer!</button>&nbsp;&nbsp;<span class="loader" id="answer-button-loader"></span>
            </form>
        </div>
        <div class="tab-pane" id="cluespot">
            <h3>Cluespot</h3>
            <p>
                Here&apos;s where you will find the &quot;<em>OFFICIAL</em>&quot; clues and hints
                for your current question.
            </p>
            <p>
                To enable the hint, simply click on the <span class="label label-info">Help Me!</span> button
                below.
            </p>
            <hr />
            <span class="loader" id="clue-button-loader"></span>&nbsp;&nbsp;<button class="btn btn-primary" id="clue-button" data-link="{{ path('ctf_quest_hint', { id: question.getId() }) }}">Help Me!</button>
        </div>
    </div>
</div>
