{# Social Shares Twig template #}
{% set longUrl = app.request.getSchemeAndHttpHost() ~ path('ctf_referral_refer', { ref: app.session.get('__MYREF') }) %}
{% set shortUrl %}{% render url('ctf_referral_shortify', {}) with {} %}{% endset %}
<div class="well well-small">
    <p>
        <strong>Share Referral Links</strong>
    </p>
    <div>
        <div class="label label-inverse" id="longUrlPopover"
             data-content="<div><a href='{{ longUrl }}'>{{ longUrl }}</a></div>"
             data-placement="top"
             data-html="true"
             data-title="Original Referral URL">Link</div>
        <br />
        <div class="label label-inverse">Short Link</div>
        <div id="shortUrl"><a href='{{ shortUrl }}'>{{ shortUrl }}</a></div>
    </div>
    <hr />
    <button class="btn btn-facebook" onclick="javascript:shareOnFacebook();"><i class="icon-white icon-facebook"></i>&nbsp;|&nbsp;Share referral on Facebook</button>
    <hr />
    <div class="g-plus" id="g-share" data-action="share" data-annotation="vertical-bubble" data-width="200" data-expandto="left" data-href="{{ shortUrl }}"></div>
    <hr />
    <div>
        <a id="twitter_share" href="https://twitter.com/share" class="twitter-share-button" data-url="{{ shortUrl }}" data-text="This is brilliant! Join me in the greatest online-hacking competition. EVER." data-via="ehack" data-size="large" data-hashtags="ehack,ctf">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</div>

<script type="text/javascript">
window.___gcfg = {
    lang: 'en-US'
};

(function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
})();

function shareOnFacebook() {
    var obj = {
        method: 'feed',
        redirect_uri: '{{ longUrl }}',
        link: '{{ longUrl }}',
        picture: 'http://ehack.in/images/EHACK logo.png',
        name: 'EHack - Capture the flag',
        caption: 'The official Guiness attempt!',
        description: "Join me and hundreds of others in the world's biggest online-hacking competition. Ehack - Creating awareness for cyber security."
    };
    
    FB.ui(obj, function() {});
}

window.onload = function() {
    $('#longUrlPopover').popover();
};
</script>