{# Team Admin Panel #}

{% set active = 'teamadmin' %}
{% extends "::base.html.twig" %}

{% block title %}
Team Admin Panel &middot; ehack CTF
{% endblock %}

{% block content %}
<audio height="0" width="0" id="dingdong">
    <source src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}" type="audio/wav">
    <embed height="0" width="0" src="{{ asset('bundles/ctfannouncer/sounds/ding.wav') }}">
</audio>
<div class="clearfix">&nbsp;</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span5">
            <h2>{{ team.getName() }}&apos;s Panel</h2>
            <p>
                Here, you&apos;ll find common team-administration tasks, with the most important function
                being requests.
            </p>
        </div>
        <div class="span4">
            {% include "CTFQuestBundle:Quest:teamview.html.twig" with { 'team': team } only %}
        </div>
        <div class="span3">
            <h3>Status</h3>
            <div id="update-result"></div>
            <div class="well well-small">
                <span class="label label-info">Current Status</span>&nbsp;<span id="current-status">{{ team.getStatus() }}</span>
            </div>
            <div class="well well-small">
                <div class="input-append">
                    <input type="text" name="_status" id="team-new-status" placeholder="Update Status" />
                    <button class="btn btn-primary" id="team-update-status-button">Update!</button>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row-fluid">
        <div class="span12">
            <div id="requests-container">
                {% include "CTFTeamBundle:TeamAdmin:requests.html.twig" with { 'team': team } only %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajsend %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% javascripts
    '@CTFQuestBundle/Resources/public/js/raphael.min.js'
    '@CTFTeamBundle/Resources/public/js/teamnotify.js'
    '@CTFTeamBundle/Resources/public/js/teamadmin.js'
    filter='yui_js'
    output='teamadmin.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}