{% set active = 'home' %}
{% set light = 'true' %}
{% extends "::base.html.twig" %}

{% block title %}
Registration &middot; ehack CTF
{% endblock %}

{% block extracss %}
{% stylesheets
    'bundles/ctfregistration/css/style.css'
    filter='cssrewrite, yui_css'
    output='registration.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="screen" />
{% endstylesheets %}
{% endblock %}

{% block content %}
<div id="fb-root"></div>
<div id="overlay">
    <div class="modal" id="loginModal">
        <div class="modal-header">
            <h3>Registration &raquo; <span id="reg-step">Basic Information</span></h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span12">
                    <div id="form-container">
                        <div id="form-error"></div>
                        <div id="form-dyn-container">
                            {% include "CTFRegistrationBundle:Registration:essentialuser.form.html.twig" with { 'form': essential } only %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <div class="pull-left hidden" id="map_normalize_container">
                <button id="map_normalize" class="btn btn-primary">
                    <i class="icon-white icon-resize-small"></i>
                </button>
            </div>
            <button class="btn btn-success" id="next-button">Next</button>
        </div>
    </div>
</div>

<div class="clearfix">&nbsp;</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-error clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        
    </div>
</div>
{% endblock %}

{% block extrajsend %}
{% javascripts
    '@CTFCommonBundle/Resources/public/js/cookiemanager.js'
    '@CTFCommonBundle/Resources/public/js/geoPosition.js'
    filter='yui_js'
    output='registration.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD10aDs0eCuaeaaZMFzLu5yrPnN4_TgqU&sensor=false&libraries=places"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript">
//<!--
var map, marker = null;
function initialiseMap() {
    var myOptions = {
        center: new google.maps.LatLng(13.0810, 80.2740),
        zoom: 4,
        mapTypeControl: false,
        mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
        navigationControl: false,
        navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    marker = new google.maps.Marker({
        position: map.getCenter(),
        map: map,
        title:"You are here",
        draggable: true
    });
    map.panTo(marker.getPosition());
    geocodePosition(marker.getPosition());
    google.maps.event.addListener(marker, 'dragend', function(evt) {
        $("#ctf_userbundle_usertype_location").val(evt.latLng.lat() + "," + evt.latLng.lng());
        geocodePosition(marker.getPosition());
    });
}

function initialize() {
    var mapOptions = {
        center: new google.maps.LatLng(-33.8688, 151.2195),
    };
    var input = document.getElementById('ctf_userbundle_essentialusertype_org');
    var options = {
        types: ['establishment']
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
}

function onLocateClick() {
    if(geoPosition.init()) {
        geoPosition.getCurrentPosition(showPosition,function(){ alert('Could not find you! :('); },{enableHighAccuracy:true});
    }
}

function showPosition(p) {
    var latitude = parseFloat( p.coords.latitude );
    var longitude = parseFloat( p.coords.longitude );
    $('#ctf_userbundle_essentialusertype_location').val(latitude + "," + longitude);
    var pos=new google.maps.LatLng( latitude , longitude);
    map.setCenter(pos);
    map.setZoom(14);

    if (null === marker) {
        marker = new google.maps.Marker({
            position: pos,
            map: map,
            title:"You are here",
            draggable: true
        });
        
        geocodePosition(marker.getPosition());
        google.maps.event.addListener(marker, 'dragend', function(evt) {
            $("#ctf_userbundle_essentialusertype_location").val(evt.latLng.lat() + "," + evt.latLng.lng());
            geocodePosition(marker.getPosition());
        });
    } else {
        marker.setPosition(pos);
    }
    map.panTo(pos);
}

function geocodePosition(pos) 
{
    geocoder = new google.maps.Geocoder();
    geocoder.geocode(
        {
            latLng: pos
        }, 
       function(results, status) {
           if (status == google.maps.GeocoderStatus.OK) {
               $('#formatted-address').text(results[0].formatted_address);
           } 
           else {
               alert('Cannot determine address at this location.' + status);
           }
       }
    );
}

$('#map_fullscreen').click(function (e) {
    e.preventDefault();
    
    $('#map_canvas').addClass('fullscreen');
    $('#map_canvas').empty();
    initialiseMap();
    $('#map_normalize_container').removeClass('hidden');
});

$('#map_normalize').click(function (e) {
    e.preventDefault();
    
    $('#map_canvas').removeClass('fullscreen');
    $('#map_canvas').empty();
    initialiseMap();
    $('#map_normalize_container').addClass('hidden');
});

var finish = false;
$(document).ready(function() {
    initialize();
    initialiseMap();
    
    $('#form-container').on('click', '#locate-me', function(e) {
        e.preventDefault();
        
        onLocateClick();
    });
    
    $('#next-button').click(function() {
        if (true == finish) {
            window.location.href = Routing.generate('ctf_registration_wrapup', null);
        }
        $.post($('#reg-form').attr('action'), $('#reg-form').serialize(), function(data) {
            var response = JSON.parse(data);
            
            if ('success' == response.result) {
                if (null != response.sms) {
                    $('#form-error').html('<div class="alert alert-success">' + response.message + "<br />Your OTP is: <strong>" + CookieManager.getItem('sms') + "</strong></div>").fadeIn("slow").fadeOut(15000);
                    $('#form-dyn-container').html(response.smsform);
                } else if (null != response.share) {
                    $('#form-error').html('<div class="alert alert-success">' + response.message + "</div>").fadeIn("slow").fadeOut(15000);
                    $('#form-dyn-container').html(response.sharepage);
                    finish = true;
                    $('#longUrlPopover').popover();
    
                    $.get(Routing.generate('ctf_referral_shortify', null), null, function(data) {
                        document.getElementById('shortUrl').innerHTML = '<a href="' + data + '" target="_blank">' + data + '</a>';
                    });
                }
            } else {
                $('#form-error').html('<div class="alert alert-error">' + response.message + "</div>").fadeIn("slow").fadeOut(5000);
            }
        });
    });
    
    $.getScript('//connect.facebook.net/en_UK/all.js', function() {
        window.fbAsyncInit = function() {
            FB.init({
              appId: '{{ facebook_id }}',
              channelUrl: '//' + Routing.generate('ctf_fb_channel', null),
              status     : true,
              xfbml      : true
            });
        };
    });
});
//-->
</script>
{% endblock %}