{# Announcements twig #}
{% set active = "announce" %}
{% extends "CTFAdminBundle::layout.html.twig" %}

{% block title %}
Announce &middot; Admin Dashboard
{% endblock %}

{% block content %}
<div class="clearfix">
    &nbsp;
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="tabbable">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#new_announcement" data-toggle="tab">New Announcement</a></li>
                    <li><a href="#announcement_history" data-toggle="tab">Announcement History</a></li>
                </ul>
                <div class="tab-content">
                    <div id="new_announcement" class="tab-pane active">
                        {% include "CTFAdminBundle:Admin:announce.form.html.twig" with { 'form': form } only %}
                    </div>
                    <div id="announcement_history" class="tab-pane">
                        <button class="btn btn-primary" id="refresh-history"><i class="icon-repeat icon-white"></i>&nbsp;Refresh</button>
                        <hr />
                        <div id="announce-history">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajsend %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript">
//<!--
$(document).ready(function() {
    $('#refresh-history').click(function() {
        $.get(Routing.generate('ctf_admin_announce', null), null, function(data) {
            $('#announce-history').replaceWith(data);
        });
    });
});
//-->
</script>
{% endblock %}