{% set active = "home" %}
{% set dash = "true" %}
{% extends "CTFAdminBundle::layout.html.twig" %}

{% block extracss %}
<link href="{{ asset('bundles/ctfcommon/css/dash.css') }}" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="well dash-box dash-box-teamstats" id="teamstats-box">
                <h1><span id="teamstats-count">0</span> teams</h1>
            </div>
        </div>

        <div class="span6">
            <div class="well dash-box dash-box-announce" id="announce-box">
                {% include "CTFAdminBundle:Admin:announce.form.html.twig" with { 'form': announceform, 'dash': dash } only %}
            </div>
        </div>

        <div class="span3">
        
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="well dash-box dash-box-genderstats">
                <div id="genderChart" style="height: 200px; width: 100%;">
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrajsend %}
<script type="text/javascript" src="{{ asset('bundles/ctfcommon/js/canvasjs.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript">
//<!--
$(document).ready(function() {
    $('#announce-form').submit(function() {
        $.post(Routing.generate('ctf_admin_announce', null), $('#announce-form').serialize(), function(data) {
            $('#announce-box').fadeOut();
            $('#announce-box').fadeIn('fast', function() {
                $('#ctf_adminbundle_announcementtype_announcement').val('');
            });
        });
        return false;
    });
    
    $.post(Routing.generate('ctf_admin_team_count', null), null, function(data) {
        $('#teamstats-count').text(data);
    });
    setInterval(function() {
        $.post(Routing.generate('ctf_admin_team_count', null), null, function(data) {
            $('#teamstats-count').text(data);
        });
    }, 15000);
    
    $.post(Routing.generate('ctf_admin_genders_count', null), null, function(data) {
        $("#genderChart").empty();
        var chart = new CanvasJS.Chart("genderChart", JSON.parse(data));
        chart.render();
    });
    setInterval(function() {
        $.post(Routing.generate('ctf_admin_genders_count', null), null, function(data) {
            $("#genderChart").empty();
            var chart = new CanvasJS.Chart("genderChart", JSON.parse(data));
            chart.render();
        });
    }, 15000);
});
//-->
</script>
{% endblock %}