<!DOCTYPE html>
<html lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>{% block title %}Home &middot; CTF{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="{{ asset('bundles/ctfcommon/css/darkstrap.css') }}" type="text/css" media="screen" />-->
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6/leaflet.ie.css" />
        <link rel="stylesheet" href="{{ asset('bundles/ctfstatistics/css/MarkerCluster.Default.ie.css') }}" />
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Exo:800' rel='stylesheet' type='text/css'>
{% stylesheets
    'bundles/ctfcommon/css/darkstrap.css'
    'bundles/ctfstatistics/css/stats-base.css'
    'bundles/ctfstatistics/css/stats-lowres.css'
    'bundles/ctfstatistics/css/stats.css'
    'bundles/ctfstatistics/css/MarkerCluster.Default.css'
    'bundles/ctfstatistics/css/MarkerCluster.css'
    filter='cssrewrite, yui_css'
    output='index.css'
%}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</head>
<body class="index">
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 clearance">
                <div id="index-carousel" class="carousel slide" data-interval="30000">
                    <ol class="carousel-indicators">
                        <li data-target="#index-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#index-carousel" data-slide-to="1"></li>
                        <li data-target="#index-carousel" data-slide-to="2"></li>
                    </ol>
                    <!-- Carousel items -->
                    <div class="carousel-inner">
                        <div class="active item">
                            <div class="stack-item">
                                <div class="inner-item">
                                    <div class="logo-img centered">
                                        <img src="{{ asset('bundles/ctfstatistics/images/logo-blue.png') }}" title="EHACK">
                                    </div>
                                    <div class="buttons centered">
                                        <div class="launch-code">
                                            <a href="{{ path('ctf_quest_homepage') }}" class="btn btn-inverse btn-block btn-large">Launch!</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="stack-item">
                                <div class="inner-item">
                                    <h1 class="centered">Capture the Flag!</h1>
                                    <hr />
                                    <p>
                                        Meddle in cyber-warfare, battle with our machine master mind who will throw challenges on web application security, network security, algorithms, reverse engineering and decryption. The team which cracks the final level will attain the glory of being Winner at our E-HACK Guinness record attempt with tons of prizes waiting. Be simple but not simpler is quote by Einstein, that’s secret of success for E-HACK. Be there to witness the epic battle of brains. 
                                    </p>
                                    <p>
                                        <strong>P.S.</strong> World renowned web security experts will be watching you at E-HACK, who knows you might end up working for them, prove your potential. 
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="item" id="map-target">
                            <div id="users-map"></div>
                        </div>
                    </div>
                    <!-- Carousel nav -->
                    <a class="carousel-control left" href="#index-carousel" data-slide="prev">&lsaquo;</a>
                    <a class="carousel-control right" href="#index-carousel" data-slide="next">&rsaquo;</a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container-fluid clearance">
        <div class="row-fluid">
            <div class="span12 footer">
                <center>
                    Copyright &copy; {{ "now" | date('Y') }}, infySEC
                    <br />
                    Developed by { VStartU, thegeekmachine }
                </center>
            </div>
        </div>
    </div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://raw.github.com/meetselva/attrchange/master/attrchange.js"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="http://cdn.leafletjs.com/leaflet-0.6/leaflet.js"></script>
{% javascripts
    '@CTFStatisticsBundle/Resources/public/js/leaflet.markercluster.js'
    '@CTFStatisticsBundle/Resources/public/js/world-users.js'
    '@CTFStatisticsBundle/Resources/public/js/index.js'
    filter='yui_js'
    output='index.js'
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>