{# edit profile form #}
<form class="form-horizontal" action="{{ path('ctf_user_edit_profile') }}" method="post" {{ form_enctype(form) }} id="edit-form">
    <div id="tabs">
        <ul>
            <li><a href="#general">General</a></li>
            <li><a href="#extra-general">About Me</a></li>
            <li><a href="#address">Address</a></li>
            <li><a href="#organdloc">Organization &amp; Location</a></li>
            <li><a href="#finish">Finish</a></li>
        </ul>
        <div id="general">
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {% if form.password is defined %}
            <hr />
            {{ form_row(form.password) }}
            {% endif %}
        </div>
        <div id="extra-general">
            {{ form_row(form.fname) }}
            {{ form_row(form.lname) }}
            <hr />
            {{ form_row(form.dob) }}
            {{ form_row(form.gender) }}
            <hr />
            {{ form_row(form.aboutMe) }}
            {{ form_row(form.website) }}
        </div>
        <div id="address">
            {{ form_row(form.country) }}
            {% if form.state is defined %}
            {{ form_row(form.state) }}
            {% endif %}
            {{ form_row(form.city) }}
        </div>
        <div id="organdloc">
        {{ form_row(form.phone) }}
        <hr />
        <div class="row-fluid">
            <div class="span8">
                {{ form_row(form.location) }}
                <div class="clearfix"><a href="#" class="btn btn-success" onclick="javascript:onLocateClick();">Locate Me!</a></div>
            </div>
            <div class="span4">
                <div id="map_canvas" style="width:200px; height:200px"></div>
            </div>
        </div>
        <hr />
        {{ form_row(form.org) }}

        {{ form_rest(form) }}
        </div>
        <div id="finish">
            <p>
                This is a nice way to finish it, isn't it?
            </p>
            <button class="btn">Save</button>
        </div>
    </div>
</form>