{# edit profile form #}
<form class="form-horizontal" action="{{ path('ctf_user_edit_profile') }}" method="post" {{ form_enctype(form) }} id="edit-form" novalidate="novalidate">
    <div id="tabbable">
        <ul class="nav nav-tabs" id="regTabs">
            <li class="active"><a href="#general" data-toggle="tab">General</a></li>
            <li><a href="#extra-general" data-toggle="tab">About Me</a></li>
            <li><a href="#address" data-toggle="tab">Address</a></li>
            <li><a href="#organdloc" data-toggle="tab">Organization &amp; Location</a></li>
            <li><a href="#finish" data-toggle="tab">Finish</a></li>
        </ul>
        <div class="tab-content">
            <div id="general" class="tab-pane active">
                <div class="well well-small">
                    <div>
                        Username
                    </div>
                    <strong>{{ app.user.username }}</strong>
                </div>
                <div class="well well-small">
                    <div>
                        Email-ID
                    </div>
                    <strong>{{ app.user.getEmailCanonical() }}</strong>
                </div>
            </div>
                <div id="extra-general" class="tab-pane">
                {{ form_row(form.fname) }}
                {{ form_row(form.lname) }}
                <hr />
                {{ form_row(form.dob) }}
                {{ form_row(form.gender) }}
                <hr />
                {{ form_row(form.aboutMe) }}
                {{ form_row(form.website) }}
            </div>
            <div id="address" class="tab-pane">
                {{ form_row(form.country) }}
                <div id="state-loader"></div>
                {% if form.state is defined %}
                {{ form_row(form.state) }}
                {% endif %}
                {{ form_row(form.city) }}
            </div>
            <div id="organdloc" class="tab-pane">
            {{ form_row(form.phone) }}
            <hr />
            <div class="row-fluid">
                <div class="span8">
                    {{ form_row(form.location) }}
                    <div class="clearfix"><a href="#" class="btn btn-success" onclick="javascript:onLocateClick();">Locate Me!</a></div>
                    <hr />
                    You&apos;re @ <strong><span id="formatted-address"></span></strong>
                </div>
                <div class="span4">
                    <div id="map_canvas" style="width:200px; height:200px"></div>
                </div>
            </div>
            <hr />
            {{ form_row(form.org) }}
            </div>
            <div id="finish" class="tab-pane">
                <p>
                    This is a nice way to finish it, isn't it?
                </p>
                {% if form.password is defined %}
                <hr />
                {{ form_row(form.password) }}
                {% endif %}
                <hr />
                {{ form_rest(form) }}
                <button class="btn">Save</button>
            </div>
        </div>
    </div>
</form>