{% set active = 'home' %}
{% extends "::base.html.twig" %}

{% block title %}
{{ app.user.username }}&apos;s Profile &middot; ehack CTF
{% endblock %}

{% block content %}
<div class="clearfix">&nbsp;</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-error clearfix">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span8" id="editForm">
            <div id="edit-form-container">
            {% include "CTFUserBundle:User:editprofileform.html.twig" with { 'form': form } only %}
            </div>
        </div>
        <div class="span4">
            {% if profilePic is defined %}
                <img src="{{ profilePic }}" title="Your profile pic!" width="160" class="img-polaroid" />
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block extrajsend %}
<script src="{{ asset('bundles/ctfcommon/js/geoPosition.js') }}"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAD10aDs0eCuaeaaZMFzLu5yrPnN4_TgqU&sensor=false&libraries=places"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script type="text/javascript">
//<!--
var map;
function initialiseMap() {
    var myOptions = {
        zoom: 4,
        mapTypeControl: false,
        mapTypeControlOptions: {style: google.maps.MapTypeControlStyle.DROPDOWN_MENU},
        navigationControl: false,
        navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
        mapTypeId: google.maps.MapTypeId.ROADMAP
    };
    map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
}

function initialize() {
    var mapOptions = {
        center: new google.maps.LatLng(-33.8688, 151.2195),
    };
    var input = document.getElementById('ctf_userbundle_usertype_org');
    var options = {
        types: ['establishment']
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
}

function onLocateClick() {
    if(geoPosition.init()) {
        geoPosition.getCurrentPosition(showPosition,function(){ alert('Could not find you! :('); },{enableHighAccuracy:true});
    }
}

function showPosition(p) {
    var latitude = parseFloat( p.coords.latitude );
    var longitude = parseFloat( p.coords.longitude );
    $('#ctf_userbundle_usertype_location').val(latitude + "," + longitude);
    var pos=new google.maps.LatLng( latitude , longitude);
    map.setCenter(pos);
    map.setZoom(14);

    var marker = new google.maps.Marker({
        position: pos,
        map: map,
        title:"You are here",
        draggable: true
    });
    google.maps.event.addListener(marker, 'dragend', function(evt) {
        $("#ctf_userbundle_usertype_location").val(evt.latLng.lat() + "," + evt.latLng.lng());
        geocodePosition(marker.getPosition());
    });
    map.setCenter(pos);
}

function geocodePosition(pos) {
    geocoder = new google.maps.Geocoder();
    geocoder.geocode(
        {
            latLng: pos
        }, 
       function(results, status) {
           if (status == google.maps.GeocoderStatus.OK) {
               $('#formatted-address').val(results[0].formatted_address);
           } 
           else {
               alert('Cannot determine address at this location.' + status);
           }
       }
    );
}

$(document).ready(function() {
    $('.date').datepicker({
        dateFormat: 'dd-mm-yy',
        changeMonth: true,
        changeYear: true
    });
    
    $( "[title]" ).tooltip();
    
    $('#editForm').on('change', '#ctf_userbundle_usertype_country', function() {
        $.post(Routing.generate('ctf_get_edit_form', null), $("#edit-form").serialize(), function(data) {
            $('#edit-form-container').replaceWith(data);
            $('.date').datepicker({
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true
            });
            initialize();
            initialiseMap();
            var mapval = $('#ctf_userbundle_usertype_location').val();
            if (null !== mapval) {
                var latlng = mapval.split(',');
                showPosition({ coords: { latitude: latlng[0], longitude: latlng[1] } });
            }
            $('#tabs').tabs();
        }, "html");
    });
    
    initialize();
    initialiseMap();
    
    var mapval = $('#ctf_userbundle_usertype_location').val();
    if (null !== mapval) {
        var latlng = mapval.split(',');
        showPosition({ coords: { latitude: latlng[0], longitude: latlng[1] } });
    }
});
//-->
</script>
{% endblock %}